*.class

# Package Files #
*.jar
*.war
*.ear

.classpath

.project

*.prefs

target/classes/META-INF/services/org.testng.ITestNGListener

target/classes/Resources.properties

target/classes/RuntimeReporterResources.properties
